html,

@media screen and (max-width: 575px) {

    p,
    ul,
    .question,
    .quote,
    .video-container {
        min-width: 40%;
    }
}

@media screen and (min-width: 575px) {

    p,
    ul,
    .question {
        max-width: 600px;
    }


    .quote {
        max-width: 490px;
    }

    .video-container {
        max-width: 60%;
        min-width: 600px;
    }

    .small-img {
        max-width: 60%;
    }
}

@media screen and (max-width: 725px) {
    .index {
        font-size: 8.5em !important;
        line-height: 115px !important;
    }
}

body {
    margin: 0px;
    margin-bottom: 50px;
    max-width: 100vw;
}

.container {
    margin: 60px 35px 60px 35px;
}


.nav {
    left: 50%;
    right: 50%;
    height: 10%;
    z-index: 3;
}

.nav a {
    /*    margin-right: 20px;*/
}

.left:hover {
    transform: translateX(-70px);
    transition: 1s;
}

.right:hover {
    transform: translateX(70px);
    transition: 1s;
}


.nav a,
.header a,
.prev,
.next {
    text-decoration: none;
    color: black;
}

.dropdown {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 30px;
    left: 48%;
    right: auto;
    z-index: 2;
    font-family: 'new-spirit', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    align-content: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-left,
.dropdown-content-right {
    display: none;
    position: relative;
    background-color: none;
    z-index: -1;
    text-align: center;
    min-width: 160px;


}

/* Links inside the dropdown */
.dropdown-content-left a,
.dropdown-content-right a {
    color: black;
    text-decoration: none;
    padding: -5px;
    display: block;

}

.dropdown-content-left a:hover {
    display: block;
}

.dropdown-content-right a:hover {
    display: block;
}

.dropdown:hover .dropdown-content-left .dropdown-content-right {
    display: block;
    position: absolute;
}


.logo {
    width: 30px;
    margin: 50px 0%;
}



.header {

    font-family: 'thunderhouse-pro', sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: .9
}

.index {
    font-size: 11.5em;
    line-height: 145px;
    margin-top: 50px;
    margin-bottom: 140px;
    max-width: 90%;
    letter-spacing: 1px;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover,
.five:hover {
    color: white;
    transition: .3s;
}

.oneq {
    color: #33A65B;
}

.fiveq {
    color: #1A5A69;
}

.tooltip {
    position: relative;
}

.tooltiptext {
    font-family: 'rucksack';
    visibility: hidden;
    width: 100%;
    color: white;
    opacity: .8;
    text-align: center;
    font-size: 18px !important;
    font-weight: 500 !important;
    text-transform: none !important;
    letter-spacing: 0 !important;

    /* Position the tooltip */
    top: 90%;
    margin-top: -.5%;
    left: 50%;
    margin-left: -50%;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*CHANGE BODY COLOR ON HOVER FOR LINK CLASS*/

.one:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #33A65B;
    transition: .5s;
}

.two:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #C98467;
    transition: .5s;
}

.three:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #659D2A;
    transition: .5s;
}

.four:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #177EA1;
    transition: .5s;
}

.five:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #103740;
    transition: .5s;
}

.title {
    font-size: 7.5em;
    margin-top: 15px;
}

.subheader {
    font-family: 'rucksack';
    font-weight: 500;
    font-size: 16px;
    margin: 10px 30% 10px 30%;
    padding-bottom: 15px;
    color: dimgray;
    text-align: center;
}

.info {
    font-family: 'new-spirit', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    padding: 15px auto 15px auto;
    margin: 0px auto 20px auto;
    text-align: center;

}

.author,
.date {
    display: inline-block;
}

.page {
    padding-top: 5%;
    padding-bottom: 35px;
}

.question {
    font-family: 'new-spirit', serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    margin: 35px auto 35px auto;
}

.quote {
    font-family: 'new-spirit', serif;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    margin: 55px auto 55px auto;

}

.body-link {
    font-family: 'new-spirit', serif;
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.body-link:hover {
    opacity: .3;
    transition: .5s;
}

p {
    font-family: 'rucksack';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 35px auto 35px auto;
}

ul {
    font-family: 'rucksack';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    column-count: 1;
    column-gap: 10px;
    column-width: 80px;
    margin-top: -10px !important;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    list-style-type: none;
}

li {

    margin-right: 30px;
}

.video-container {
    margin: auto;
}

.video {
    padding: 56.25% 0 0 0;
    position: relative;
}

iframe {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
    display: block;
    margin: 60px auto 60px auto;
}

.header-img {
    max-width: 100%;
    margin: 30px 0px;
}

.small-img {
    margin-left: auto;
    margin-right: auto;
}

.small-img img {
    max-width: 200px;
    height: auto;
}

.prev,
.next {
    font-family: 'new-spirit', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;


}

.aligncont {
    max-width: 200px;
    text-align: left;
}

.prev {
    float: left;
}

.prev:hover,
.next:hover {
    opacity: .3;
    transition: .5s;
}

.next {
    float: right;
}

.bold {
    font-weight: 600;
}

.no-break {
    column-count: 1;
}

.break {
    break-before: column;
}

.aboutgrid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: left;
    margin: 15px;
    position: relative;
}

.desc,
.students,
.leaders {
    max-width: 50%;
    margin: 30px 0px 30px 0px;
}

.students {
    margin-left: 50px;
    margin-right: 50px
}

.columnhead {
    font-family: 'new-spirit', serif;

    font-style: normal;
}
