@font-face {
  font-family: 'ThinkRegular';
  src: url('../fonts/ThinkRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 575px) {
  p, ul, .grid-container, .subheader, .section-header, .question, .quote, .video-container {
    min-width: 40%;
  }
}

@media screen and (min-width: 575px) {
  p, ul, .grid-container, .subheader, .section-header, .question {
    max-width: 620px;
  }
  .quote {
    max-width: 650px;
  }
  .video-container {
    max-width: 60%;
    min-width: 620px;
  }
  .small-img {
    max-width: 620px;
    height: auto;
  }
}

@media screen and (max-width: 725px) {
  .index, .header, .title {
    font-size: 4em !important;
    line-height: 55px !important;
  }
}

body {
  margin: 0px;
  margin-bottom: 50px;
  max-width: 100vw;
}

.container {
  margin: 23px 35px 60px 35px;
}

.nav {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: absolute;
}

.nav a {
  margin-right: 30px;
}

.nav img {
  height: 35px;
  width: auto;
  float: left;
  margin-top: -4px;
  margin-right: 15px;
}

.nav a, .header a, .prev, .next, .jumplink {
  text-decoration: none;
  color: black;
}

.page {
  padding-top: 40px;
  margin-bottom: 100px;   
}

.abt a {
  color: black;
}

.abt a:hover{
  color: #00477d;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

.students {
  margin-top: 40px;
  grid-template-rows: repeat(7, 40px [col-start]);
}

.interviewees {
  grid-template-rows: repeat(3, 350px [col-start]);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  margin-bottom: 100px;
}

.interviewees a {
  text-decoration: none;
  color: black;
}

.bold {
  font-weight: 600;
  font-size: 20px;
}

.other {
  margin-top: 40px;
  margin-bottom: -150px;
  grid-template-rows: repeat(7, 40px [col-start]);
}

.grid-item {
  font-family: 'Lora';
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.headshot {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.header {
  font-family: 'thunderhouse-pro', sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.index {
  font-size: 9.5em;
  line-height: 125px;
  margin-top: 50px;
  margin-bottom: 100px;
  /*max-width: 80%;*/
  letter-spacing: 4px;
  position: relative;
}

a:hover + .sub { 
  display: block;
  color: white;
  font-family: 'Inter'; 
  text-align: center;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 25px !important;
  letter-spacing: 0 !important;
  text-transform: none !important;
  margin-top: 20px; 
}

.about:hover {
  color: white;
  text-shadow: 7px 7px 2px black;
  transition: all 0.1s ease-in-out;
} 

.one:hover {
  color: white;
  text-shadow: 7px 7px 2px black;
  transition: all 0.1s ease-in-out;
}

.two:hover {
  color: white;
  text-shadow: 7px 7px 2px black;
  transition: all 0.1s ease-in-out;
}

.three:hover {
  color: white;
  text-shadow: 7px 7px 2px black;
  transition: all 0.1s ease-in-out;
}

.four:hover {
  color: white;
  text-shadow: 7px 7px 2px black;
  transition: all 0.1s ease-in-out;
}

.five:hover {
  color: white;
  text-shadow: 7px 7px 2px black;
  transition: all 0.1s ease-in-out;
}

.sub {
  display: none;
}

/*CHANGE BODY COLOR ON HOVER FOR LINK CLASS*/

.about:hover:before {
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background-color: #00477d;
}

.one:hover:before {
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background-color: #0f8743;
}

.two:hover:before {
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background-color: #8e3a29;
}

.three:hover:before {
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background-color: #4f5a19;
}

.four:hover:before {
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background-color: #b85c00;
}

.five:hover:before {
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background-color: #37727e;
}

.title {
  font-size: 7.5em;
  margin-top: -20px;
  line-height: 100px;
  margin-bottom: 20px;
}

.subheader {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 18px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  color: dimgray;
  text-align: center;
}

.info {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  padding-bottom: 30px;
  text-align: center;
}

.author, .date {
  display: inline-block;
}

.question {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin: 35px auto 35px auto;
}

.quote {
  font-family: 'Lora';
  font-weight: 600;
  font-size: 34px;
  line-height: 48px;
  text-align: center;
  margin: 50px auto 65px auto;
}

.ellipses {
  font-family: 'ThinkRegular';
  font-size: 2.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: 'Lora';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 35px auto 35px auto; 
}

.section-header {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 30px;
  color: black;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: -5px;
}

.abt-header {
  font-size: 27.5px;
}

.video-container {
  margin: auto;
}

.video {
  padding: 56.25% 0 0 0;
  position: relative;
}

iframe {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img {
	display: block;
  margin: 0px auto 60px auto;
}

.header-img {
  max-width: 100%;
  margin-top: 10px;
}

.small-img {
  margin: 20px auto 00px auto;
}

.small-img img {
  max-width: 100%;
  height: auto;
}

/*FOR JUMPLINKS*/

.g1:hover {
  color: #0f8743;
  transition: all 0.15s ease-in-out;
}

.g2:hover {
  color: #8e3a29;
  transition: all 0.15s ease-in-out;
}

.g3:hover {
  color: #4f5a19;
  transition: all 0.15s ease-in-out;
}

.g4:hover {
  color: #b85c00;
  transition: all 0.15s ease-in-out;
}

.g5:hover {
  color: #37727e;
  transition: all 0.15s ease-in-out;
}

/*FOR COLOPHON*/

.accentone {
  font-weight: 600;
  text-decoration: none;
  color: #0f8743; 
}

.accenttwo {
  font-weight: 600;
  text-decoration: none;
  color: #8e3a29;
}

.accentthree {
  font-weight: 600;
  text-decoration: none;
  color: #4f5a19;
}

.accentfour {
  font-weight: 600;
  text-decoration: none;
  color: #b85c00;
}

.accentfive {
  font-weight: 600;
  text-decoration: none;
  color: #37727e;
}

/*FOR PREV/NEXT HOVERS*/

.accentone-hover:hover {
  text-decoration: none;
  color: #0f8743; 
}

.accenttwo-hover:hover {
  text-decoration: none;
  color: #8e3a29;
}

.accentthree-hover:hover {
  text-decoration: none;
  color: #4f5a19;
}

.accentfour-hover:hover {
  text-decoration: none;
  color: #b85c00;
}

.accentfive-hover:hover {
  text-decoration: none;
  color: #37727e;
}


.prev, .next {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 30px;
}

.prev {
  float: left;
}

.next {
  float: right;
}

.scroll {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  /*transform: rotate(270deg);*/
  position: fixed;
  bottom: 120px;
  right: 65px;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 500;
  color: black;
  opacity: 1;
}

.flexbox{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  margin: 20px auto;
  justify-content: center;
}

.flexbox img{
  height: 50px;
  margin: 10px 30px;
  align-content: space-between;
}